@page "/rapdle"
@inherits RapGame.Client.SharedLogic.BasePage

<PageTitle>Rapdle</PageTitle>

<div class="div-rapdle-geral">

    <h1 class="titulo">RAPDLE</h1>

    <div>
        <p>Bem-vindo ao jogo de adivinhar álbuns!</p>
        @if (!string.IsNullOrWhiteSpace(Mensagem))

        {
            <h3 class="alert alert-info">@Mensagem</h3>
        }

        @if (!string.IsNullOrEmpty(DicaFeat))
    {
        <p class="diva">@DicaFeat</p>
    }

    @if (!string.IsNullOrEmpty(DicaFaixaFamosa))
    {
        <p class="diva">@DicaFaixaFamosa</p>
    }
    </div>

    <div class="rapdle">
        <input class="input-rapdle"
        placeholder="Digite o nome do álbum"
        @bind="Tentativa"
        @bind:event="oninput"
        @onkeydown="HandleKeyDown"
        disabled="@jogoEncerrado" />

        @if (!string.IsNullOrWhiteSpace(Tentativa) && sugestoes.Any())
        {
            <ul class="input-sugestoes">
                @foreach (var sugestao in sugestoes)
                {
                    <li class="list-group-item list-group-item-action"
                        @onclick="async () => await SelecionarSugestao(sugestao)">
                        @sugestao.Nome
                    </li>
                }
            </ul>
        }
    </div>

    @if (TentativasComInfo.Any())
    {
        <table class="table-tentativas">
        <thead class="thead-tentativas">
            <tr>
                <th class="text-start">Álbum</th>
                <th>Artista</th>
                <th>Faixas</th>
                <th>Ano</th>
            </tr>
        </thead>
        <tbody class="tbody-tentativas">
            @foreach (var tentativa in TentativasComInfo)
            {
                <tr>
                    <!-- Nome do Álbum -->
                    <td class="@ObterClasseCor(tentativa.Nome == albumSelecionado?.Nome)">
                        @tentativa.Nome</td>

                    <!-- Artista -->
                    <td class="@ObterClasseCor(tentativa.ArtistaPrincipais[0] == albumSelecionado?.ArtistaPrincipais[0])">
                        @tentativa.ArtistaPrincipais[0]
                    </td>

                    <!-- Quantidade de Faixas -->
                    <td class="@ObterClasseCor(tentativa.QuantidadeFaixas == albumSelecionado?.QuantidadeFaixas)">
                        @tentativa.QuantidadeFaixas
                        @if (tentativa.QuantidadeFaixas != albumSelecionado?.QuantidadeFaixas)
                        {
                            <img 
                                src="img/@(tentativa.QuantidadeFaixas > albumSelecionado?.QuantidadeFaixas ? "ArrowDown.svg" : "ArrowUp.svg")" 
                                alt="Seta" 
                                width="14" 
                                height="14" 
                                style="margin-left: 4px; vertical-align: middle;" />
                        }
                    </td>

                    <!-- Ano -->
                    <td class="@ObterClasseCor(tentativa.AlbumDate.Year == albumSelecionado?.AlbumDate.Year)">
                        @tentativa.AlbumDate.Year
                        @if (tentativa.AlbumDate.Year != albumSelecionado?.AlbumDate.Year)
                        {
                            <img 
                                src="img/@(tentativa.AlbumDate.Year > albumSelecionado?.AlbumDate.Year ? "ArrowDown.svg" : "ArrowUp.svg")" 
                                alt="Seta" 
                                width="14" 
                                height="14"
                                style="margin-left: 4px; vertical-align: middle;" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }

</div>

